In [17]:
import os
import pandas as pd

from allensdk.core.mouse_connectivity_cache import MouseConnectivityCache

In [56]:
path = r'C:\Users\jenniferwh\Dropbox (Allen Institute)\Mesoscale Connectome Papers in Progress\2018 Plaque\unionizes'
savepath = r'C:\Users\jenniferwh\Dropbox (Allen Institute)\Mesoscale Connectome Papers in Progress\2018 Plaque\_JCN submission\supplementary tables'

In [64]:
dat = pd.read_csv(os.path.join(path, 'plaque_unionizes.csv'))

In [65]:
len(dat['image_series_id'].unique())

146

In [66]:
output_dat = dat[['mouse_line', 'age_group', 'structure_acronym', 'sum_plaques', 'plaque_density']]

In [67]:
s_table_2 = output_dat.groupby(['mouse_line', 'age_group', 'structure_acronym']).median().reset_index()

In [68]:
s_table_2.head()

  mouse_line age_group structure_acronym  sum_plaques  plaque_density
0    APP/PS1     13 mo               AAA          6.5        0.000514
1    APP/PS1     13 mo               ACA        270.5        0.006061
2    APP/PS1     13 mo              ACAd        150.0        0.006134
3    APP/PS1     13 mo             ACAd1         20.0        0.005536
4    APP/PS1     13 mo           ACAd2/3         26.0        0.005158

In [69]:
s_table_2.rename(columns = {'sum_plaques': 'median_plaque_count',
                           'plaque_density':'median_plaque_density'}, inplace = True)

In [70]:
s_table_2.head()

,mouse_line,age_group,structure_acronym,median_plaque_count,median_plaque_density
0,APP/PS1,13 mo,AAA,6.5,0.000514
1,APP/PS1,13 mo,ACA,270.5,0.006061
2,APP/PS1,13 mo,ACAd,150.0,0.006134
3,APP/PS1,13 mo,ACAd1,20.0,0.005536
4,APP/PS1,13 mo,ACAd2/3,26.0,0.005158

In [71]:
s_table_2['first_quartile_plaque_density'] = output_dat.groupby(
    ['mouse_line', 'age_group', 'structure_acronym']).quantile(.25)['plaque_density'].values

In [72]:
s_table_2['third_quartile_plaque_density'] = output_dat.groupby(
    ['mouse_line', 'age_group', 'structure_acronym']).quantile(.75)['plaque_density'].values

In [73]:
s_table_2['minimum_plaque_density'] = output_dat.groupby(
    ['mouse_line', 'age_group', 'structure_acronym']).min()['plaque_density'].values

In [74]:
s_table_2['maximum_plaque_density'] = output_dat.groupby(
    ['mouse_line', 'age_group', 'structure_acronym']).max()['plaque_density'].values

In [75]:
s_table_2.head()

,mouse_line,age_group,structure_acronym,median_plaque_count,median_plaque_density,first_quartile_plaque_density,third_quartile_plaque_density,minimum_plaque_density,maximum_plaque_density
0,APP/PS1,13 mo,AAA,6.5,0.000514,0.000119,0.001020,0.0,0.002669
1,APP/PS1,13 mo,ACA,270.5,0.006061,0.003157,0.008807,0.0,0.023826
2,APP/PS1,13 mo,ACAd,150.0,0.006134,0.003333,0.009595,0.0,0.023739
3,APP/PS1,13 mo,ACAd1,20.0,0.005536,0.001960,0.008510,0.0,0.016779
4,APP/PS1,13 mo,ACAd2/3,26.0,0.005158,0.002405,0.009613,0.0,0.020641

In [76]:
s_table_2.to_csv(os.path.join(savepath, 'Supplementary Table 2 Plaque Density and Count.csv'), index=False)

In [25]:
mcc = MouseConnectivityCache(manifest_file = '../connectivity/mouse_connectivity_manifest.json')

In [27]:
st = mcc.get_structure_tree()
coarse_structures = st.get_structures_by_set_id([687527670])
coarse_structure_ids = [item['id'] for item in coarse_structures]
coarse_structure_acronyms = [item['acronym'] for item in coarse_structures]
ft = st.get_structures_by_acronym(['fiber tracts'])
coarse_structure_ids.append(ft[0]['id'])
coarse_structure_acronyms.append(ft[0]['acronym'])
print(len(coarse_structure_ids))

13

In [28]:
ss = st.get_structures_by_set_id([167587189])
ss_acronyms = [item['acronym'] for item in ss]
ss_ids = [item['id'] for item in ss]
print(len(ss_acronyms))

316